/*mixin*/@import "../abstracts/mixin" ;
/*variables*/@import "../abstracts/variables";
/*estilos sobre-nosotros.html*/
main{
    .textos-sn{
        text-align: center;
        font-family: $font;
    }
    .map-container {
        position: relative;
        height: 350px; // altura fija en lugar de padding-top
        border-radius: 15px;
        overflow: hidden;
        max-width: 800px;
        margin: 30px auto;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
          transform: scale(1.01);
          box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
        }
        iframe {
          width: 100%;
          height: 100%;
          border: 0;
          border-radius: 15px;
        }
      }
}